version: '3.8'

services:
  # 1. DATABASE (Dùng port 3307 để tránh lỗi)
  db:
    image: mysql:8.0
    container_name: comax_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "11111111"
      MYSQL_DATABASE: "ComaxDb"
    ports:
      - "3307:3306"  # <--- QUAN TRỌNG: Đã đổi sang 3307
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - comax-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  # 2. MINIO (Lưu trữ ảnh)
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./minio_data:/data
    command: server /data --console-address ":9001"
    restart: always
    networks:
      - comax-network

  # 3. SETUP MINIO (Sidecar)
  createbuckets:
    image: minio/mc:latest
    depends_on:
      - minio
    networks:
      - comax-network
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      /usr/bin/mc alias set myminio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb myminio/comics-bucket || true;
      /usr/bin/mc anonymous set download myminio/comics-bucket;
      echo '--- DA CAU HINH MINIO XONG ---';
      exit 0;
      "

  # 4. REDIS (Cache)
  redis:
    image: redis:alpine
    container_name: comax_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - comax-network

  # 5. WORKER
  vip-worker:
    build:
      context: .
      dockerfile: Comax.VipWorker/Dockerfile
    container_name: comax-vip-worker
    restart: always
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=ComaxDb;User=root;Password=11111111;
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_started
      redis:
        condition: service_started
    networks:
      - comax-network

volumes:
  redis_data:
    driver: local
  db_data:
    driver: local

networks:
  comax-network:
    driver: bridge